{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda de Serviços</title>
  <link rel="stylesheet" href="../static/css/style_marcar_horario.css">
</head>
<body>
  <header class="header">
    <h1>Salão de Beleza</h1>
    <p>Agende seu horário com facilidade!</p>
  </header>

  <main class="main">
    <section class="form-section">
      <h2>Agendar Horário</h2>
      <form method="POST" class="schedule-form">
        {% csrf_token %}
        {{ formulario_agendamento}}
        
      <button type="submit" class="submit-btn">Agendar</button>
      </form>
    </section>

  </main>

  <footer class="footer">

    
  </footer>
</body>
</html>
